# Dependency Management
node_modules
npm-debug.log

# Build Artifacts
dist
*.lock
*.lock.json
*-lock.json
*-lock.yaml
*.cache
*.jest
*.tgz

# IDEs and Editors
.vscode/*
!.vscode/cspell.json
!.vscode/extensions.json
!.vscode/settings.json

# User-specific files
.DS_Store
*.backup
*.local
*.user
*.vs

# Test Artifacts
*.clean.json
*.ignore
