# User-specific files
.DS_Store
*.editorconfig
*.env
*.user
*.vs
*.github

# Package Managers
node_modules
npm-debug.log

# Build Artifacts
*.lock.json
*-lock.json
*.backup
*.cache
*.tgz
.jest

# Source Code
tsconfig.json
src
